.Form {
  width: 35vw;
  height: 70vh;
  /* position: sticky; */
  /* bottom: 0; */
  margin-left: 15vh;
  /* margin-top: 10vh; */
  border-radius: 1vw;
  background: #3ad886;
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-content {
  width: 20vw;
  height: 30vh;
}
