.Header {
  width: 100%;
  height: 15vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ab2a19;
}

.img {
  margin-left: 5vw;
}

.header-text {
  margin-left: 2vw;
  color: #ffffff;
  font-size: 2.5rem;
}

.header-button-container {
  margin-left: 4vw;
}

.header-button {
  width: 12vw;
  height: 8vh;
  margin: 1vw;
  font-size: 1.5rem;
  border-radius: 1vh;
  background: #ed6b5a;
  border: none;
}
